In [1]:
import pandas as pd
import numpy as np

In [46]:
def cell_in_same_row(c1, c2):
    c1_center = (c1[2] + c1[3]) / 2
    c2_bottom = c2[3]
    c2_top = c2[2]
    return c2_top < c1_center < c2_bottom

def avg_height_of_center(row):
    centers = [(ymin + ymax) / 2 for xmin, xmax, ymin, ymax in row]
    return sum(centers) / len(centers)

In [47]:
data = pd.read_csv('cell data/19.csv')
data.head()

   xmin  xmax  ymin  ymax
0   103   202     9    26
1   258   401     9    26
2     7    60    38    52
3   102   217    38    49
4   234   242    38    49

In [48]:
cells = pd.DataFrame.to_numpy(data).tolist()
for cell in cells:
    cell = tuple(cell)

In [49]:
rows = []
while cells:
    first = cells[0]
    rest = cells[1:]
    cells_in_same_row = sorted([c for c in rest if cell_in_same_row(c, first)], key=lambda c: c[0])

    row_cells = sorted([first] + cells_in_same_row, key=lambda c: c[0])
    rows.append(row_cells)
    cells = [c for c in rest if not cell_in_same_row(c, first)]
        
rows.sort(key=avg_height_of_center)

In [50]:
rows

[[[103, 202, 9, 26], [258, 401, 9, 26]],
 [[7, 60, 38, 52], [102, 217, 38, 49], [234, 242, 38, 49], [258, 344, 38, 52]],
 [[7, 60, 65, 79], [103, 223, 65, 79], [234, 242, 65, 76], [258, 344, 65, 79]],
 [[6, 60, 91, 105],
  [103, 165, 91, 105],
  [234, 243, 91, 102],
  [258, 319, 91, 105]],
 [[7, 60, 118, 132],
  [103, 165, 118, 132],
  [234, 242, 118, 129],
  [257, 369, 118, 132]],
 [[7, 60, 144, 158],
  [102, 217, 144, 155],
  [234, 242, 144, 155],
  [257, 346, 144, 155]],
 [[7, 60, 170, 184],
  [103, 185, 169, 184],
  [234, 242, 170, 181],
  [257, 371, 170, 181]]]

In [41]:
cells

[]